@import "config.css";
@import "utilities.css";

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: var(--white-color);
}

/* Section: Header */
#header {
  background: var(--background-image) center center/cover no-repeat;
  height: 100vh;
  color: var(--white-color);
}

#header-inner {
  background: var(--background-image) no-repeat 20% 30% / cover;
  height: 5.5rem;
  border-bottom: 3px solid var(--main-color);
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.navbar__list {
  display: flex;
}

.navbar__item {
  padding: 1rem 1.5rem;
}

.navbar__link {
  text-decoration: none;
  color: var(--white-color);
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}

.navbar__link-current {
  text-decoration: none;
  color: var(--white-color);
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}

.navbar__link:hover {
  border-color: var(--medium-color);
}

.navbar__link-current {
  border-color: var(--main-color);
}

.navbar__logo {
  width: 70px;
  height: 70px;
  color: var(--white-color);
  text-transform: uppercase;
}

/* Header Content */
.header__content {
  text-align: center;
  padding-top: 20%;
}

/* Section: Specialize */
.specials {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.specials .fas {
  color: var(--main-color);
  padding-bottom: 0.4rem;
}

/* Section: Stats */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.stats__container {
    padding: 3rem;
}

.stats__container:nth-child(odd) {
    background-color: var(--light-color);
}

.stats__container:nth-child(even) {
    background-color: var(--medium-color);
}

.stats__list {
    line-height: 2;
}

.stats__title {
    font-size: 1.5rem;
}

.stats__number {
    font-size: 2rem;
    font-weight: bold;
}

/* Section: Process */
.process {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    text-align: center;
}

.process__step {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 15px;
    padding: 1rem;
    transition: all 1s;
}

.process__step:hover {
    background-color: var(--dark-color);
}

.process__icon {
    border-radius: 50%;
    background: var(--dark-color);
    color: var(--white-color);
    padding: 2rem;
    width: 140px;
    height: 140px;
    line-height: 70px;
    text-align: center;
    position: relative;
    transition: all 1s;
}

.process__icon:hover {
    background: var(--main-color);
    width: 150px;
    height: 150px;
    line-height: 90px;
}

/* Section: About */
.biography {
  display: grid;
  grid-template-areas: 
    'biography__image biography__info biography__info'
    'award-1 award-2 award-3';
  grid-gap: 1.2rem;
}

.biography__image {
  grid-area: biography__image;
}

.biography__info {
  grid-area: biography__info;
  border-left: 3px solid var(--main-color);
  padding: 0.8rem
}

.award-1 {
  grid-area: award-1;
}

.award-2 {
  grid-area: award-2;
}

.award-3 {
  grid-area: award-3;
}

.award-1 .fas,
.award-2 .fas,
.award-3 .fas {
  margin: 1rem;
  color: var(--main-color);
}



/* Footer */
#main-footer {
    background: var(--dark-color);
    color: var(--white-color);
    height: 5rem;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    height: 5rem ;
    align-items: center;
}

.social .fab {
    margin-right: 1rem;
    border: 2px var(--white-color) solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 20px;
    text-align: center;
    padding: 0.5rem;
}

.social .fab:hover {
    background: var(--main-color);
}








