@import "_config.css";
@import "_utilities.css";

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: var(--white-color);
}

/* ---------------------------- Section: Header ---------------------------- */

#header {
  background: var(--background-image) center center/cover no-repeat;
  height: 100vh;
  color: var(--white-color);
}

#header-inner {
  background: var(--background-image) no-repeat 20% 30% / cover;
  height: 5.5rem;
  border-bottom: 3px solid var(--main-color);
}

/* ---------------------------- Navbar ---------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.navbar__list {
  display: flex;
}

.navbar__item {
  padding: 1rem 1.5rem;
}

.navbar__link {
  text-decoration: none;
  color: var(--white-color);
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}

.navbar__link-current {
  text-decoration: none;
  color: var(--white-color);
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}

.navbar__link:hover {
  border-color: var(--medium-color);
}

.navbar__link-current {
  border-color: var(--main-color);
}

.navbar__logo {
  width: 70px;
  height: 70px;
  color: var(--white-color);
  text-transform: uppercase;
}

/* ---------------------------- Header Content ---------------------------- */

.header__content {
  text-align: center;
  padding-top: 20%;
}

/* ---------------------------- Section: Specialize ---------------------------- */

.specials {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.specials .fas {
  color: var(--main-color);
  padding-bottom: 0.4rem;
}

/* ---------------------------- Section: Stats ---------------------------- */

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.stats__container {
  padding: 3rem;
}

.stats__container:nth-child(odd) {
  background-color: var(--light-color);
}

.stats__container:nth-child(even) {
  background-color: var(--medium-color);
}

.stats__list {
  line-height: 2;
}

.stats__title {
  font-size: 1.5rem;
}

.stats__number {
  font-size: 2rem;
  font-weight: bold;
}

/* ---------------------------- Section: Process ---------------------------- */

.process {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  text-align: center;
}

.process__step {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 15px;
  padding: 1rem;
  transition: all 1s;
}

.process__step:hover {
  background-color: var(--dark-color);
}

.process__icon {
  border-radius: 50%;
  background: var(--dark-color);
  color: var(--white-color);
  padding: 2rem;
  width: 140px;
  height: 140px;
  line-height: 70px;
  text-align: center;
  position: relative;
  transition: all 1s;
}

.process__icon:hover {
  background: var(--main-color);
  width: 150px;
  height: 150px;
  line-height: 90px;
}

/* ---------------------------- Section: About ---------------------------- */

.biography {
  display: grid;
  grid-template-areas:
    "biography__image biography__info biography__info"
    "award-1 award-2 award-3";
  grid-gap: 1.2rem;
}

.biography__image {
  grid-area: biography__image;
}

.biography__info {
  grid-area: biography__info;
  border-left: 3px solid var(--main-color);
  padding: 0.8rem;
}

.award-1 {
  grid-area: award-1;
}

.award-2 {
  grid-area: award-2;
}

.award-3 {
  grid-area: award-3;
}

.award-1 .fas,
.award-2 .fas,
.award-3 .fas {
  margin: 1rem;
  color: var(--main-color);
}

/* ---------------------------- Section: Progress Bars ---------------------------- */

.progress {
  overflow: hidden;
  height: 20px;
  background: var(--medium-color);
  border-radius: 5px;
  margin-bottom: 0.3rem;
}

.progress div {
  height: 100%;
  color: var(--white-color);
  text-align: center;
  background: var(--main-color);
}

/* ---------------------------- Section: Logos ---------------------------- */

.logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.logos__image {
  width: 70%;
}

/* ---------------------------- Section: Testimonials ---------------------------- */

.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.testimonial__list {
  list-style: none;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.testimonial__content {
  border: 1px solid var(--medium-color);
  border-radius: 5px;
  padding: 0.5rem;
}

.testimonial__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

/* ---------------------------- Section: Works ---------------------------- */

.works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.item {
  position: relative;
  background: var(--main-color);
  overflow: hidden;
}

.item::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.item:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}
 
.item__image:hover {
    transform: scale(1.2);
}

.item__text:hover {
    opacity: 1;
    transform: translateY(0);
}

.item__image {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.item__image::before {
    content: '';
    display: block;
    padding-top: 75%;
    overflow: hidden;
}

.item__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0;
}

.item__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: var(--white-color);
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1) 
        transform 500ms cubic-bezier(0.2, 1, 0.3, 1)
    ;
    transition-delay: 300ms;
}

.item__text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.item__title {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 5px 0 0 0;
}

.item__category {
   text-transform: uppercase; 
   font-size: 1.7rem;
   opacity: 0.7;
   margin: 0;
}

/* ---------------------------- Section: Contact ---------------------------- */

.text-fields {
  display: grid;
  grid-template-areas: "name email" "subject phone" "message message";
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.name-input {
  grid-area: name;
}

.subject-input {
  grid-area: subject;
}

.email-input {
  grid-area: email;
}

.phone-input {
  grid-area: phone;
}

.message-input {
  grid-area: message;
  height: 100px;
}

.text-input {
  padding: 0.5rem 1rem;
}

button[type="submit"] {
  width: 50%;
}

.contact__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

#tagline-contact h1 {
  text-align: center;
  font-size: 4rem;
}

/* ---------------------------- Footer ---------------------------- */

#main-footer {
  background: var(--dark-color);
  color: var(--white-color);
  height: 5rem;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}

.social .fab {
  margin-right: 1rem;
  border: 2px var(--white-color) solid;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
}

.social .fab:hover {
  background: var(--main-color);
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* Media queries */

/* Tables & Smaller */
@media (max-width: 800px) {
  #header {
    height: 30rem;
  }

  .header__content {
    padding-top: 5rem;
  }
}

/* Smartphone */
@media (max-width: 500px) {
  #header {
    height: 10rem;
    border-bottom: 3px solid var(--main-color);
  }

  #header-inner {
    height: 10rem;
  }

  .header__content {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar__list {
    padding: 1rem;
  }

  /* Stack Grid Columns */
  .specials,
  .stats,
  .process,
  .testimonials,
  .works,
  .contact__info {
    grid-template-columns: 1fr;
  }

  .works {
    grid-gap: 1.5rem
  }

  .specials div {
    border-bottom: 3px var(--light-color) solid;
    padding-bottom: 1rem;
  }

  .specials div:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .stats div {
    padding: 2rem 0 1rem 0;
  }

  .biography {
    grid-template-areas:
      "biography__image"
      "biography__info"
      "award-1"
      "award-2"
      "award-3";
  }

  #logo-section {
    display: none;
  }

  .text-fields {
    grid-template-areas:
      "name"
      "subject"
      "email"
      "phone"
      "message";
  }

  .contact__info div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px #555 solid;
  }

  .contact__info div:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  #tagline-contact h1 {
    font-size: 2rem;
  }

  /* Footer */
  #main-footer {
    height: 7rem;
  }

  .footer__content {
    flex-direction: column;
    padding: 1rem;
    height: 6.5rem;
  }
}

/* Landscape */
@media (max-height: 580px) {
  .header__content {
    padding-top: 3rem;
  }
}

/* Smartphone Landscape */
@media (max-height: 330px) {
  .header__content h1 {
    font-size: 2rem;
  }
}
